<div class="row">
    <div class="small-12 medium-6 columns">
        <h1>Add product</h1>
    </div>
</div>
<form>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Product name
                <input type="text" [(ngModel)]="name" name="prodName" required #prName="ngModel">
                          
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Product price
                <input type="text" [(ngModel)]="price" name="prodPrice" required #prPrice="ngModel">
                          
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Product description
            <textarea rows="15" id="desc" [(ngModel)]="description" name="prodDesc" required #prDesc="ngModel">
            </textarea>
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <input type="file" (change)="fileLoad($event)"><br>
            <img *ngIf="imageSRC" [src]="imageSRC" alt="Image preview...">
        </div>
        <div class="row align-center">
            <div class="small-12 columns">
                <div class="espanded button-group">
                    <button class="success button" type="button" [disabled]="!prName.valid || !prPrice.valid 
                    || !prDesc.valid" 
                    (click)="createProduct()"> Create product</button>
                    <button class="cancel button" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>